name: Dev Pre-release (semantic-release)

on:
  push:
    branches: [main, "release/**"]
  workflow_dispatch:

jobs:
  dev-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup node v22
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
          cache: maven

      - name: Run semantic-release
        id: semantic
        uses: codfish/semantic-release-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          branches: |
            [
              'release',
              {
                name: 'main',
                prerelease: 'dev'
              }
            ]
          plugins: |
            [
              [
                "@semantic-release/commit-analyzer",
                {
                  "preset": "angular",
                  "releaseRules": [
                    {
                      "type": "refactor",
                      "release": "patch"
                    },
                    {
                      "type": "build",
                      "release": "patch"
                    }
                  ]
                }
              ],
              "@semantic-release/release-notes-generator",
              "@semantic-release/github"
            ]

      - name: Build & push dev Docker image
        if: steps.semantic.outputs.new-release-published == 'true'
        env:
          QUARKUS_CONTAINER_IMAGE_USERNAME: ${{ secrets.DOCKER_HUB_LOGIN }}
          QUARKUS_CONTAINER_IMAGE_PASSWORD: ${{ secrets.DOCKER_HUB_PWD }}
        run: |
          ./mvnw package -B \
            -Dquarkus.container-image.tag=v${{ steps.semantic.outputs.release-version }} \
            -Dquarkus.container-image.additional-tags=dev,v${{ steps.semantic.outputs.release-major }}-dev,v${{ steps.semantic.outputs.release-major }}.${{ steps.semantic.outputs.release-minor }}-dev \
            -Dquarkus.container-image.push=true

      - name: Publish Summary
        if: steps.semantic.outputs.new-release-published == 'true'
        run: |
          echo "Docker Images" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "- mjtok3ner/trader-kraken:dev" >> $GITHUB_STEP_SUMMARY
          echo "- mjtok3ner/trader-kraken:v${{ steps.semantic.outputs.release-major }}-dev" >> $GITHUB_STEP_SUMMARY
          echo "- mjtok3ner/trader-kraken:v${{ steps.semantic.outputs.release-major }}.${{ steps.semantic.outputs.release-minor }}-dev" >> $GITHUB_STEP_SUMMARY
          echo "- mjtok3ner/trader-kraken:v${{ steps.semantic.outputs.release-version }}" >> $GITHUB_STEP_SUMMARY
