name: CI deploy to Docker Hub

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
          cache: maven

      - name: Build and Push to Docker Hub
        env:
          QUARKUS_CONTAINER_IMAGE_USERNAME: ${{ secrets.DOCKER_HUB_LOGIN }}
          QUARKUS_CONTAINER_IMAGE_PASSWORD: ${{ secrets.DOCKER_HUB_PWD }}
        run: |
          ./mvnw package -B \
            -Dquarkus.container-image.tag=${GITHUB_REF##*/} \
            -Dquarkus.container-image.additional-tags=latest \
            -Dquarkus.container-image.push=true
          docker image ls